.App {
  text-align: center;
}

.btn-circle {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: none;
  margin: 0 5px 5px 0;
  font-size: 12px;
  font-weight: bold;
}

.all-btn {
  font-size: 12px;
  height: 33px;
  border-radius: 33px;
  margin-bottom: 10px;
}
